# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Temp
*.tmp
*.bak

# PowerShell / output
*.html
*.txt
*.json

# Build artifacts
bin/
obj/
dist/
release/

# Visual Studio
.vs/
*.user
*.suo

# Local config
.env